/* @override http://localhost:3000/css/layout.css */

/* base layout */

body {
	width: 712px;
	padding: 48px 28px 60px;
	background: rgb(232,232,232);
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%;
		margin: 0 auto;

}

/* mobile */

@media only screen and (max-width: 767px) {

body {
	width: 252px;
	padding: 48px 34px 60px;
}

}

/* wide mobile */

@media only screen and (min-width: 480px) and (max-width: 767px) {

body {
	width: 436px;
	padding: 36px 22px 48px;
}

}

/*	Retina media query. */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {

body {
	
}

}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* #Font-Face */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/