/* @override http://localhost:3000/css/style.css?v=2 */

/* @group Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section {
	display: block;
}

a img {
	border: 0;
}

figure {
	position: relative;
}

figure img {
	width: 100%;
}

li {
	list-style: none;
}

.clearfix {
	clear: both;
}

/* @end */

/* @group Global */

::selection {
	background: rgba(223,223,223,0.5);
}

::-moz-selection {
	background: rgba(223,223,223,0.5);
}

body{
	background-color: #fff;
}

/* @end */

.container {
	padding-left: 60px;
	padding-bottom: 30px;
	padding-right: 60px;
	padding-top: 10px;
	width: 648px;
	-webkit-tap-highlight-color: rgb(255,255,0);
	margin: 0 auto;
}

header {
	content: url(../images/header.jpg), "We are getting married. Save the Date. Jennifer & Matthew.";
	width: 620px;
	margin-left: auto;
	margin-right: auto;
}

#date {
	content: url(../images/date.jpg), "September 3rd, 2011";
	width: 620px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#ceremony{
		content: url(../images/ceremony.jpg), "September 3rd, 2011";
	width: 620px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#reception{
		content: url(../images/reception.jpg), "September 3rd, 2011";
	width: 620px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#hotel{
		content: url(../images/hotel.jpg), "September 3rd, 2011";
	width: 620px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}


@media only screen and (max-width: 767px) and (min-width: 480px) {

.container {
	padding: 0 42px;
	width: 396px;
}

.left {
	display: none;
	margin: 0;
	padding: 0;
	width: 0;
}

.right {
	float: none;
	width: 396px;
}

header {
	content: url(../images/header.jpg), "We are getting married. Save the Date. Jennifer & Matthew.";
	width: 390px;
	margin-left: auto;
	margin-right: auto;
}

#date {
	content: url(../images/date.jpg), "September 3rd, 2011";
	width: 390px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#ceremony{
		content: url(../images/ceremony.jpg), "September 3rd, 2011";
	width: 390px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#reception{
		content: url(../images/reception.jpg), "September 3rd, 2011";
	width: 390px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#hotel{
		content: url(../images/hotel.jpg), "September 3rd, 2011";
	width: 390px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

}

@media only screen and (max-width: 479px) {

.container {
	padding: 0 46px;
	width: 320px;
}

header {
	content: url(../images/header.jpg), "We are getting married. Save the Date. Jennifer & Matthew.";
	width: 310px;
	margin-left: auto;
	margin-right: auto;
}

#date {
	content: url(../images/date.jpg), "September 3rd, 2011";
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#ceremony{
		content: url(../images/ceremony.jpg), "September 3rd, 2011";
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#reception{
		content: url(../images/reception.jpg), "September 3rd, 2011";
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#hotel{
		content: url(../images/hotel.jpg), "September 3rd, 2011";
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

}

/* @group iPhone 4 Override */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {

#example {
}

}

/* @end */

@media print {

* {
	background: transparent !important;
	color: #444 !important;
	text-shadow: none !important;
}

a, a:visited {
	color: #444 !important;
	text-decoration: underline;
}

a:after {
	content: " (" attr(href) ")";
}

abbr:after {
	content: " (" attr(title) ")";
}

.ir a:after {
	content: "";
}

pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr, img {
	page-break-inside: avoid;
}
  @page { margin: 0.5cm; }

p, h2, h3 {
	orphans: 3;
	widows: 3;
}

h2, h3 {
	page-break-after: avoid;
}

}