<!doctype html>  

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Getting married, like a boss. | matt-jen.com</title>
  
  <meta name="description" content="Wedding details for Matthew and Jen Tully's 2011 wedding ceremony." />
  <meta name="author" content="Matthew Tully">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link rel="shortcut icon" href="/favicon.ico">

  <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" media="all" href="/css/style.css">

</head>

<body lang="en">

    <header class="group">
		<section id="header-inner" class="container">
			<h1 id="names">Jennifer Cahill &amp; Matthew Tully</h1>
				
			<div id="photos">
				<img src="../images/jen.jpg" alt="jen" class="jen"/>
				<img src="../images/us.jpg" alt="us" class="us"/>
				<img src="../images/matt.jpg" alt="matt" class="matt"/>
			</div>
			
			<h2 id="tagline">We're getting married!</h2>
			
			<h4 id="date">September 3rd, 2011</h4>
		</section>
	</header>
	
	<section id="main" class="group">
		<section id="main-inner" class="container">
			
			<section id="ceremony" class="left">
				<h3>ceremony</h3>
				<p class="location">First Church of Christ<br />
				2183 Main Street<br />
				Glastonbury, CT 06033</p>
				<a href="http://goo.gl/maps/M3Lk" class="directions">directions</a>
			</section>
		
			<section id="reception" class="right">
				<h3>reception</h3>
				<p class="location">Glastonbury Country Club<br />
				239 Country Club Road<br />
				South Glastonbury, CT 06073</p>
				<a href="http://goo.gl/maps/iuLv" class="directions">directions</a>
			</section>
			<br class="clearfix" />
		
		</section>
	</section>
	
	<section id="hotel" class="group">
		<section id="hotel-inner" class="container">
			
			<h3>accommodations</h3>
			<p class="location">Hilton Garden Inn<br />
				85 Glastonbury Boulevard<br />
				Glastonbury, CT 06033 </p>
			<p class="reserve">To make reservations call <span class="callout">860-659-1025</span> and<br />  
				mention the <span class="callout">Cahill-Tully group</span> or code 
				<span class="callout">CATUWD</span>.</p> 
				<a href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/B/BDLGHGI-CATUWD-20110831/index.jhtml?WT.mc_id=POG" class="directions">book online</a>
		</section>
	</section>
	
	<section id="registry">
		<div id= "regisrty-inner" class="container">
			<h3>registry</h3>
			<a href="http://www1.macys.com/registry/wedding/guest/?registryId=442479" title="Macys" id="macys" class="logo">Macys</a>
			<a href="http://www.potterybarn.com/registry/2746895/registry-list.html" title="Pottery Barn" id="potterybarn" class="logo">Pottery Barn</a>
			<a href="http://www.williams-sonoma.com/registry/2746932/registry-list.html" title="Williams-Sonoma" id="williamssonoma" class="logo">Williams-Sonoma</a>
		</div>
	</section>
	
	<footer></footer>

  	<script>
		var _gaq = [['_setAccount', 'UA-12660808-2'], ['_trackPageview']];
		(function(d, t) {
			var g = d.createElement(t),
			    s = d.getElementsByTagName(t)[0];
			g.async = true;
			g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
  
</body>
</html>