<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Getting married, like a boss. | matt-jen.com</title>
  
  <meta name="description" content="Wedding details for Matthew and Jen Tully's 2011 wedding ceremony." />
  <meta name="author" content="Matthew Tully">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="alternate" type="application/rss+xml" title="Getting married, like a boss." href="http://feeds.feedburner.com/2OH3" />

  <link rel="stylesheet" href="/css/style.css?v=2">
  <script src="/js/libs/modernizr-1.6.min.js"></script>

</head>

<body>

    <header>
	<div class="container">
		<h1>Matt & Jen</h1>
		<h2>are getting married</h2>
		<h3>please join us and celebrate</h3>
		
		<nav>
			<ul>
				<li><a href="#">Date</a></li>
				<li><a href="#">Location</a></li>
				<li><a href="#">RSVP</a></li>
				<li><a href="#">Registry</a></li>
			</ul>
		</nav>
	</div>
    </header>
    
    <section id="date">
	<div class="container">

		 <h1>September 3rd, 2011</h1>
	</div>
    </section>

	<section id="location">
	<div class="container">

		<h1>Glastonbury Hills Country Club</h1>
		<h2>239 Country Club Road, South Glastonbury, CT 06073</h2>
		
		<section id="directions">
			<p>Driving directions from 84. Driving directions from 84. Driving directions from 84.Driving directions from 84.</p>
			
			<div id= "highway" class="three">
				<p>Take exit 25 from 91N. Follow until you reach Rt. 2 East and follow to exit 10. Follow the signs to Glastonbury Hills country club.</p>
			</div>
			
			<div id= "airport" class="three">
				<p>Take exit 25 from 91N. Follow until you reach Rt. 2 East and follow to exit 10. Follow the signs to Glastonbury Hills country club.</p>
			</div>
			
			<div id= "hotel" class="three">
				<p>Take exit 25 from 91N. Follow until you reach Rt. 2 East and follow to exit 10. Follow the signs to Glastonbury Hills country club.</p>
			</div>
		</section>
	</div>
    </section>

	<section id="rsvp">
	<div class="container">

		<h1>Please RSVP</h1>
		<p>Fill out the form below to rsvp to our wedding. Alternatively you can do it the old fashioned way and mail the rsvp card back. Feel free to email us at rsvp@matt-jen.com for anything else</p>
		<form></form>
	</div>
	</section>
	
	<section id="registry">
	<div class="container">

		<h1>Wedding Registry</h1>
		<p>We are grateful for your help as we start our life together. etc.</p>
		
		<div id= "ikea" class="three">
				<p>Something about Ikea</p>
		</div>
		
		<div id= "amazon" class="three">
				<p>Something about Amazon</p>
		</div>
		
		<div id= "crate" class="three">
				<p>Something about Crate</p>
		</div>
	</div>
	</section>
	
    <footer>

    </footer>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  <script>
   var _gaq = [['_setAccount', 'UA-12660808-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>